/* debug */
*{
    /*border: 1px solid darkblue;  */
}
/* end debug*/
/*
* Global style
*/
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    color: inherit;
}
a:active{
    color: inherit;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}
input{
    font-family: inherit;
}
/*
*  Divers
*/
.hide{
    display: none;
}
.invisible{
    opacity: 0;
}

/*
* Alignement
*/
.center_text{
    text-align: center;
}
.left_text{
    text-align: left;
}
.right_text{
    text-align: right;
}
/*
* box
*/
.box{
    display: flex;
}
.box.left{
   flex-direction: row-reverse;
}
.box.right{
   flex-direction: row;
}
.box.up{
   flex-direction: column-reverse;
}
.box.start{
    justify-content: flex-start;
}
.box.end{
    justify-content: flex-end;
}
.box.y_end{
    align-items: flex-end;
}
.box.y_start{
    align-items: flex-start;
}
.box.y_center{
    align-items: center;
}
.box.center{
    justify-content: center;
}
.box.space_around{
    justify-content: space-around;
}
.box.space_between{
    justify-content: space-between;
}
.box.down{
   flex-direction: column;
}
.box.multiline{
    flex-wrap: wrap;
}
.box.auto > *{
    flex-grow: 1;
}
.shadow_box{

box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
transition: box-shadow 0.1s;
}
.shadow_box:hover{
box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
/*
    Button
*/
.btn{
    cursor: pointer;
    padding: 4px 13px;
    border: 1px solid #000;
    color: #000;
    transition: color 0.3s, border 0.3s;
    margin: 0 20px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
.btn:hover{
    border: 1px solid #006CC2;
    color: #006CC2;
}
.btn:active{
    border: 1px solid #000;
    color: #000;
}
.btn.green{
    border: 1px solid #81BC06;
}
.green{
    color: #81BC06;
}
.btn.green:hover{
    border: 1px solid #bcb806;
    color: #bcb806;
}
.btn.green:active{
    border: 1px solid #81BC06;
    color: #81BC06;
}
.btn.red{
    border: 1px solid #F35325;
}
.red{
    color: #F35325;
}
.btn.red:hover{
    border: 1px solid #fcb806;
    color: #fcb806;
}
.btn.red:active{
    border: 1px solid #F35325;
    color: #F35325;
}
.btn.white{
    border: 1px solid #fff;
}
.white{
    color: #fff;
}
.btn.white:hover{
    border: 1px solid #bcb806;
    color: #bcb806;
}
.btn.white:active{
    border: 1px solid #fff;
    color: #fff;
}
.inline-block{
    display: inline-block;
}
