@font-face {
	font-family: "ShoppingScript";
	src: url('font/ShoppingScript.ttf');
}
body{
height: 100%;
}

#main_header{
    height: 100%  ;
    background-image: url('../image/bg_sanga_redless.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;        
    background-position-y: 0px;        
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
#particle{
    position: absolute;
    top: 0;
    left: 0;
}
#main_header .nav{
    color: white;
    font-size: 0.7em;
    width: 35%;
    min-width: 100px;
    max-width: 500px;
    position: fixed;
    right: 2em;
    top: 2em;
}
#main_header .nav a{
    padding: 0.45em 1.55em;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    min-width: 50px;
    font-size: 1.5em;
    transition: color 0.5s, border-color 0.5s;
    text-align: center;
}
#main_header .nav a:hover{
    border-color: #f35325;
    color: #f35325;
}
#main_header .title{
    color: white;
    position: fixed;
    padding: 10px;
    left: 0;
    opacity: 1;
    transition: left 1s, opacity 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-top: 5vw;
    padding-left: 5vw;
    overflow: hidden;
    font-weight: 100;
}
#main_header h1{
    font-family: 'ShoppingScript','Bilbo Swash Caps', cursive;
    font-size: 6.5em;
}
#main_header p{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 2.5em;
}
section#presentation{
    background-color: lightslategray;
    height: 1000px;
}
section#contact{
    background-color:firebrick;
    height: 1000px;
}
img{
    width: 15em;
}
body{
    position: relative;
}
@media (max-width: 425px){
        #main_header{
            background-image: url('../image/bg_mobile_redless.jpg');
        }
}
