@font-face {
	font-family: "ShoppingScript";
	src: url('font/ShoppingScript.ttf');
}
h1 {
    margin: 0.20em 0;
}
.main_logo{
    width: 150px;
    transition: width 0.3s;
    height: auto;
}
section{
    position: relative;
}
#video_background{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: -100;
}
body{
    background-image: url('../image/bg_sanga_redless.jpg');
    background-size: cover;
    background-position-x: center;        
    background-position-y: 0px;        
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#galery{
 background: rgba(0,0,0,0.5);
 width: 200%;
 height: 100%;
 transition: opacity 1s, filter 1s;
 position: relative;
 /*padding: 10%;*/
}
#galery > .img{
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-color: rgba(0,0,0,0.4);
}
#particle{
    position: absolute;
    top: 0;
    left: 0;
}
.header_fixed {
    position: fixed;
    top: 0;
    border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    width: 100%;
    z-index: 100;
}
header nav{
    color: white;
    font-size: 0.7em;
    width: 35%;
    min-width: 100px;
    max-width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%
}
header ul {
    height: 100%;
    padding: 0;
    margin: 0;
}
header ul li {
        list-style: none;
    position: relative;
}
header nav a{
        font-family: 'Muli', sans-serif;
    padding: 0.35em 1.25em;
    min-width: 50px;
    font-size: 1.5em;
    transition: color 0.3s ease;
    text-align: center;
}
header nav a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    top: 24px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}
header nav li:hover a{
    color: #ababab;
}
header nav li:hover a::after{
    width: 100%;
}
.title{
    position: absolute;
    top: 40%;
}

.wraper{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 40%;
    margin: 30px 0;
}
article{
    padding: 50px 20px;
}
h1{
    font-family: 'ShoppingScript', cursive;
    font-size: 3.0em;
    font-weight: 100;
           color: white;
}
em{
    text-align: center;
    font-size: 1.2em;
        color: white;
}
p{
    font-family: 'Muli', sans-serif;
    font-size: 1.0em;   
    text-align: justify;
        font-weight: 100;
            color: white;

}
section#presentation{
    background-color: lightslategray;
    height: 1000px;
}
section#contact{
    background-color:firebrick;
    height: 1000px;
}
body{
    position: relative;
}
@media (max-width: 425px){
        #main_header{
            background-image: url('../image/bg_mobile_redless.jpg');
        }
}
